@tailwind base;
@tailwind components;
@tailwind utilities;

/* montserratarm */
@font-face {
  font-family: "Montserratarm";
  font-weight: normal;
  src: url("./fonts/montserratarm/Montserratarm-Regular.otf") format("otf");
}
@font-face {
  font-family: "Montserratarm";
  font-weight: medium;
  src: url("./fonts/montserratarm/Montserratarm-Medium.otf") format("otf");
}
@font-face {
  font-family: "Montserratarm";
  font-weight: bold;
  src: url("./fonts/montserratarm/Montserratarm-Bold.otf") format("otf");
}
@font-face {
  font-family: "Montserratarm";
  font-weight: bolder;
  src: url("./fonts/montserratarm/Montserratarm-ExtraBold.otf") format("otf");
}
@font-face {
  font-family: "Montserratarm";
  font-weight: semibold;
  src: url("./fonts/Montserratarm-SemiBold.otf") format("otf");
}
@font-face {
  font-family: "Montserratarm";
  font-weight: lighter;
  src: url("./fonts/montserratarm/Montserratarm-Light.otf") format("otf");
}

@font-face {
  font-family: "Montserrateng";
  font-weight: normal;
  src: url("./fonts/montserrateng/static/Montserrat-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrateng";
  font-weight: medium;
  src: url("./fonts/montserrateng/static/Montserrat-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrateng";
  font-weight: bold;
  src: url("./fonts/montserrateng/static/Montserrat-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrateng";
  font-weight: bolder;
  src: url("./fonts/montserrateng/static/Montserrat-Black.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrateng";
  font-weight: semibold;
  src: url("./fonts/montserrateng/static/Montserrat-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrateng";
  font-weight: lighter;
  src: url("./fonts/montserrateng/static/Montserrat-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Neogrotesk";
  font-weight: medium;
  src: url("./fonts/neogrotesk/Fontspring-DEMO-neogroteskes.otf") format("otf");
}

@font-face {
  font-family: "Engravers";
  font-weight: bold;
  src: url("./fonts/engravers/engravers-roman-bt.ttf")
    format("truetype");
}

* {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

/* Template 1 Start*/

.line {
  z-index: 2;
  perspective-origin: 0%;
  transform-origin: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  transform-style: preserve-3d;
}

.aboutmorebtn {
  background-image: radial-gradient(circle, #ca97e2, #7d2bce 75%);
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 2px solid rgba(173, 0, 255, 0);
}

.aboutmorebtn:hover {
  color: #ad00ff;
  background-image: radial-gradient(circle, #fff, #e7b4ff 75%);
  border-color: #ad00ff;
  box-shadow: 0 0 2rem rgba(146, 0, 216, 0.4);
}

.clip_top_bottom {
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle at 220% 210%,
    rgba(255, 255, 255, 0),
    #1e1e1e
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.h-points {
  -webkit-text-fill-color: transparent;
  background-image: url(https://assets-global.website-files.com/661d2c4b0e54953b357c824a/661d348a47a74adfc1b51038_headings-points-02.webp);
  background-position: 50%;
  background-repeat: repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
}

.span_h2-gradient {
  webkit-text-fill-color: transparent;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9),
    rgba(185, 94, 230, 0.72) 25%,
    rgba(0, 0, 0, 0.88)
  );
  -webkit-background-clip: text;
}

.span_h2-gradient-colors {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding-right: 0.25rem;
}

.span_h2-gradient-colors.purple_ {
  background-image: linear-gradient(
    90deg,
    rgba(173, 0, 255, 0.73),
    rgba(185, 94, 230, 0.72) 25%,
    rgba(173, 0, 255, 0.78)
  );
  font-style: italic;
}

.span_h2-gradient-colors.red_ {
  background-image: linear-gradient(
    90deg,
    rgba(197, 33, 44, 1),
    rgba(197, 33, 44, 1),
    rgba(197, 33, 44, 1)
  );
  font-style: italic;
}

/* .span_h2-gradient-colors.blue_ {
  background-image: linear-gradient(
    90deg,
    rgba(2,251,229),
    rgba(2,251,229),
    rgba(2,251,229)
  );
} */

.dot {
  position: relative;
}

.dot::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #02fbe5;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
}

.span_h2-gradient-colors.black_ {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.73),
    rgba(0, 0, 0, 0.72) 25%,
    rgba(0, 0, 0, 0.78)
  );
}

.stats_text-radial {
  background-image: linear-gradient(180deg, #000000, #7750d1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.fade {
  z-index: 5;
  background-image: linear-gradient(90deg, white, rgba(6, 6, 17, 0));
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.fade.is-right {
  background-image: linear-gradient(
    270deg,
    white,
    rgba(28, 28, 137, 0)
  ) !important;
  top: 0% !important;
  bottom: auto !important;
  left: auto !important;
  right: 0% !important;
}

.myPartnerSwiper .swiper-wrapper,
.scrollDownSwiper .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

/* Template 1 End*/

/* Template 2 Start*/

.hero_fade {
  z-index: 5;
  pointer-events: none;
  background-image: linear-gradient(rgba(3, 6, 4, 0), #ffffff 67%);
  height: 20vh;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

img.blacknwhite {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-filter: grayscale(100%);
}

img.blacknwhite:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

/* Template 2 End*/

/* Template 3 Start*/

.mySwiper .swiper-slide {
  opacity: 0.5;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

/* Template 3 End*/

/* Template 4 Start*/

.hero_fade_black {
  z-index: 2;
  pointer-events: none;
  background-image: linear-gradient(rgba(3, 6, 4, 0), #000000 99%);
  height: 35vh;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

/* Template 4 End*/

/* Template 5 Start*/

.linebtn:after,
.linebtn:before {
  transition: width 0.5s ease;
}

.borderText {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  text-shadow: none;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.borderText_logo {
  font-weight: 700;
  z-index: 10000;
  font-size: 5vw;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  text-shadow: none;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

/* Template 5 End*/